.Forecast h5 {
  margin: 0 20px;
  line-height: 2.2;
  font-size: 18px;
}

.Forecast h5,
.Forecast .temperature {
  color: #6d757d;
}

.Forecast .temperature {
  font-size: 15px;
  line-height: 3;
  text-align: center;
}
.Forecast .showIcon {
  text-align: right;
  padding-left: 0;
  padding-right: 50px;
}
.Forecast .hourIcons {
  max-width: 35px;
  height: 35px;
  margin: 5px 0;
  opacity: 0.6;
}

.Forecast hr {
  margin: 0 10px;
}
