.SearchResult .blockWeatherNow,
.SearchResult .weatherNow,
.SearchResult .metricButton {
  margin: 0 auto;
  border-radius: 10px;
}

.SearchResult .blockWeatherNow {
  max-width: 440px;
  box-shadow: 2px 2px 10px darkgray;
  height: 440px;
  position: relative;
  margin-bottom: 8px;
  background-size: 470px;
}

.SearchResult .Sunny {
  background-image: url("images/SunnyBackground.jpg");
}
.SearchResult .Clearnight {
  background-image: url("images/ClearNight.png");
}

.SearchResult .Fewcloudsday {
  background-image: url("images/FewCloudsBackground.jpg");
}

.SearchResult .Fewcloudsnight {
  background-image: url("images/FewCloudsNight.png");
}

.SearchResult .Scatteredday {
  background-image: url("images/ScatteredCloud.png");
}

.SearchResult .Scatterednight {
  background-image: url("images/ScatteredNight.png");
}

.SearchResult .Cloudyday {
  background-image: url("images/Overcast.jpg");
}

.SearchResult .Cloudynight {
  background-image: url("images/BrokenNight.png");
}

.SearchResult .Fog {
  background-image: url("images/FoggyBackground.png");
}

.SearchResult .Ice {
  background-image: url("images/FreezingBackground.jpg");
}

.SearchResult .Thunder {
  background-image: url("images/LightningBackground.jpg");
}

.SearchResult .Rainday {
  background-image: url("images/RainBackground.jpg");
}

.SearchResult .Rainnight {
  background-image: url("images/NightRain.png");
}

.SearchResult .blockWeatherNow::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.SearchResult .showNow {
  position: relative;
}

.SearchResult .city,
.SearchResult .currentTemp {
  font-family: "Lobster Two", cursive;
  font-size: 43px;
  margin: 0;
}

.SearchResult .city {
  padding: 15px 0 0 20px;
  display: inline-block;
}

.SearchResult .country {
  display: inline;
  font-size: 18px;
  margin-left: 5px;
}

.SearchResult .currentDate {
  font-size: 14px;
  padding-left: 20px;
}

.SearchResult .weatherNow {
  text-align: center;
  margin-top: 25px;
  width: fit-content;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 180ms ease-in;
}

.SearchResult .weatherNow:hover {
  background-color: rgba(255, 255, 255, 1);
}

.SearchResult .weatherType {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0;
}

.SearchResult .metricButton {
  display: block;
  margin-top: 5px;
  border: none;
  min-width: 108px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 180ms ease-in;
}
.SearchResult .metricButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.SearchResult .todayStats {
  text-align: center;
  margin: 25px 15px;
}
