.WeatherInfo .blockWeatherNow,
.WeatherInfo .weatherNow,
.WeatherInfo .metricButton {
  margin: 0 auto;
  border-radius: 10px;
}

.WeatherInfo .blockWeatherNow {
  max-width: 440px;
  box-shadow: 2px 2px 10px darkgray;
  background-size: 470px;
  height: 440px;
  position: relative;
  margin-bottom: 8px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/001/972/original/Sunny2Background.jpg?1597414926");
}

.WeatherInfo .blockWeatherNow::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
}

.WeatherInfo .showNow {
  position: relative;
}

.WeatherInfo .city,
.WeatherInfo .currentTemp {
  font-family: "Lobster Two", cursive;
  font-size: 43px;
  margin: 0;
}

.WeatherInfo .city {
  padding: 15px 0 0 20px;
  display: inline-block;
}

.WeatherInfo .country {
  display: inline;
  font-size: 18px;
  margin-left: 5px;
}

.WeatherInfo .currentDate {
  font-size: 14px;
  padding-left: 20px;
}

.WeatherInfo .weatherNow {
  text-align: center;
  margin-top: 25px;
  width: fit-content;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 180ms ease-in;
}

.WeatherInfo .weatherNow:hover {
  background-color: rgba(255, 255, 255, 1);
}

.WeatherInfo .weatherType {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0;
}

.WeatherInfo .metricButton {
  display: block;
  margin-top: 5px;
  border: none;
  min-width: 108px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 180ms ease-in;
}
.WeatherInfo .metricButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.WeatherInfo .todayStats {
  text-align: center;
  margin: 25px 15px;
}
